<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View MopZone Entries</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header class="nav">
    <ul>
      <li><img src="/logo.svg" alt="logoalt" width="50" height="50" class="logo"></li>
      <li>Dei bei grafici?</li>
      <li>Best employee</li>
      <li>Inventario</li>
      <li>Perdite</li>
    </ul>
    <ul>
      <li>Lorem</li>
      <li>ipsum</li>
      <li>dolor</li>
      <li>sit</li>
      <li>amet</li>
      <li>consectetur</li>
    </ul>
  </header>
  <main class="content">
    <div class="top">
      <h1>Your Dashboard</h1>
      <h2>MopZone Entries</h2>
      <div class="toggle-container">
        Lost items
        <label class="toggle-switch">
          <input type="checkbox" id="toggle">
          <span class="slider"></span>
        </label>
        <p id="status">OFF</p>
      </div>
    </div>
    <div class="scans-ct">
      <div class="info">
        <p>ID</p>
        <p>MOP ID</p>
        <p>ZONE ID</p>
        <p>ZONE ID</p>
      </div>
      <!-- Le righe delle entry verranno inserite qui -->
      {% for mopzone in mopzones %}
      <div class="row">
        <p>{{ mopzone.id }}</p>
        <p>{{ mopzone.idMop }}</p>
        <p>{{ mopzone.idZone }}</p>
        <p>{{ mapzone.date }}</p>
      </div>
      {% endfor %}
    </div>
  </main>

  <script src="script.js"></script>
</body>
</html>
